<mapper namespace="cn.itnanls.dao.StudentDao">
<!--<insert id="saveUser" resultType="cn.itnanls.entity.User" paramType="cn.itnanls.entity.User">
    insert into user values(?,?,?)
</insert>-->
    <insert id="saveStudent" resultType="java.lang.Integer" paramType="cn.itnanls.entity.User">
        insert into student values(?,?,?)
    </insert>
<!--<select id="findUser" resultType="cn.itnanls.entity.User" paramType="cn.itnanls.entity.User">
    select * from user where id = ?
</select>-->

    <select id="findStudent" resultType="cn.itnanls.entity.User" paramType="java.lang.Integer">
        select * from student where id = ?
    </select>
</mapper>
